*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
}

button,
input {
	font: inherit;
}

img {
	max-width: 100%;
}

body {
	min-height: 100vh;
}

.container {
	margin: 0 auto;
	max-width: 1280px;
	/* padding: 1rem; */
	position: relative;
}

/*  */

:root {
	--green: #6eb967;
	--grey: #b1b1b1;
	--yellow: #e7c738;

}

.dark-theme {
	--bg-color: #1a1a1b;
	--header-color: #202020;
	--text-color: #fefefe;
	--borders-color: #3a3a3c;
	--menu-hover: #b1b1b1;
	--svg-filter: brightness(100);
}

.light-theme {
	--bg-color: #ececec;
	--header-color: #eeeeee;
	--text-color: #000000;
	--borders-color: #adadad;
	--menu-hover: #cfcfcf;
	--svg-filter: brightness(0);
}


body {
	min-height: 100vh;
	background-color: var(--bg-color);
	/* font-family: "Inter", sans-serif; */
	font-family: 'Roboto Slab', serif;
}

header {
	background: var(--header-color);
	color: --text-color;
	padding: 0.7rem 1.2rem;
	border-bottom: 2px solid var(--borders-color);
}

/* Burger */
.burger-container {
	/* border: 1px solid #fefefe; */
	width: 25px;
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
}

.burger-icon,
.burger-icon::before,
.burger-icon::after {
	content: "";
	width: 100%;
	height: 3px;
	background: var(--text-color);
	position: absolute;
	border-radius: 10px;
	transition: 0.3s ease-in-out;
}

.burger-icon::before {
	transform: translateY(7px);
}

.burger-icon::after {
	transform: translateY(-7px);
}

.burger-container.open .burger-icon {
	transform: translate(50px);
	background: transparent;
}

.burger-container.open .burger-icon::before {
	transform: rotate(45deg) translate(-35px, 35px);
}

.burger-container.open .burger-icon::after {
	transform: rotate(-45deg) translate(-35px, -35px);
}

/* theme selector */
.theme-toggler {
	background: white;
	border-radius: 10px;
	width: 37px;
	height: 18px;
	display: flex;
	align-items: center;
	padding: 2px;
	cursor: pointer;
	transition: 0.3s ease;

}

.theme-toggler-ball {
	/* margin-top: 1px; */
	aspect-ratio: 1;
	height: 100%;
	background: black;
	border-radius: 100%;
}

.theme-toggler-toggle {
	filter: invert();
	justify-content: flex-end;
}

.d-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-title {
	color: var(--text-color);
	text-align: center;
	font-size: clamp(0.8rem, 4vw, 1.5rem);
	font-weight: 700;

}

.game-container {
	display: flex;
	flex-direction: column;
	width: 80%;
	gap: 5px;
	max-width: 400px;
}

.game-table {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.wordle-line {
	display: flex;
	justify-content: center;
	gap: 5px;
}

.wordle-square {
	aspect-ratio: 1;
	width: 100%;
	border: 2px solid var(--borders-color);
	background: none;
	color: white;
	text-align: center;
	font-weight: 700;
	font-size: clamp(1.8rem, 10vw, 3rem);
	text-transform: uppercase;
	cursor: pointer;
	user-select: none;
}

.wordle-square:focus {
	outline: none;
}

.action-btns-container {
	/* position: relative; */
	display: flex;
	align-items: center;
	position: relative;
}

.search-btn {
	margin-top: 10px;
	padding: 0.6rem 2rem;
	/* background: var(--green); */
	background: none;
	border: 2px solid var(--borders-color);
	color: var(--text-color);
	font-weight: 400;
	font-size: 0.8rem;
	cursor: pointer;
	border-radius: 4px;

}

.search-btn:hover {
	transform: scale(1.03);
	filter: brightness(1.09);
}

.reset-btn {
	background: none;
	border: none;
	outline: none;
	position: absolute;
	right: -40px;
	top: 20px;
	width: 30px;
	cursor: pointer;
	filter: var(--svg-filter);
}


.bg-grey {
	background: var(--grey)
}

.bg-yellow {
	background: var(--yellow);
}

.bg-green {
	background: var(--green)
}

.possible-words-content {
	color: var(--text-color);
	text-align: center;
	text-justify: newspaper;
	font-weight: 500;
	line-height: 150%;
	padding: 2rem;
	font-size: 0.95rem;
}

.main-nav {
	color: var(--text-color);
	position: absolute;
	left: 0;
	background: var(--header-color);
	padding-bottom: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 5rem;
	z-index: 999;
	left: -300px;
	transition: 0.3s ease-in-out;
	width: 300px;
	box-shadow: 2px 0px 10px -4px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 2px 0px 10px -4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 2px 0px 10px -4px rgba(0, 0, 0, 0.1);
}

.main-nav.open {
	left: 0px;
}

.main-nav>ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* gap: 0.8rem; */
	width: 100%;
}

.main-nav li {
	width: 100%;
	cursor: pointer;
	padding: 1.3rem 0.8rem;
	/* border-radius: 5px; */
	text-align: center;
	font-weight: 600;
}

.main-nav li>a {
	width: 100%;
}

.main-nav li:hover {
	background: var(--menu-hover);
}

.dev-by {
	font-size: 0.7rem;
	font-weight: 100;
	text-align: center;
	line-height: 1.5;
}

.social-icons-wrapper img {
	max-width: 25px;
	border: none;
	filter: var(--svg-filter);
}

.social-icons-wrapper {
	margin-top: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.8rem;
}

.guide-popup {
	max-width: 500px;
	width: 80%;
	margin: 0 auto;
	background: var(--bg-color);
	border: 1px solid var(--borders-color);
	padding: 4rem 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 3rem;
	-webkit-box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
	position: relative;

}


.guide-dialog-popup {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: none;
	border: none;
}

.guide-rule {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 15px;
}


.guide-rule-content,
.colors-ul {
	color: var(--text-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;


}

.colors-ul {
	color: var(--text-color);
	padding: 0;
	margin: 0;

	text-align: start;
	list-style: none;
}

.colors-ul li {
	padding: 0;
	margin: 0;
	text-indent: 0%;
	margin-bottom: 10px;
}

.span-grey {
	font-weight: 500;
	color: var(--grey);
}

.span-yellow {
	font-weight: 500;
	color: var(--yellow);
}

.span-green {
	font-weight: 500;
	color: var(--green);
}



@media (max-width: 500px) {


	.game-container {
		max-width: 80%;
	}

	.main-nav {
		width: 70vw;
		left: -70vw;
	}

	.possible-words-content {
		font-size: 0.8rem;
	}

	.guide-rule-content,
	.guide-rule ul {
		font-size: 13px;
	}

	.guide-popup {
		padding: 1.5rem;
	}
}